<div class="row">
  <div class="col-md-7">
    <h1>ОСАГО</h1>

    <%= simple_form_for @calculator do |f| %>
      <%= f.input :city_id, collection: City.all, selected: @calculator.city, label: 'Город' %>
      <%= f.input :drivers_count, include_blank: false, label: 'Количество водителей' %>
      <%= f.input :driver_experience, include_blank: false, label: 'Опыт водителя' %>
      <%= f.input :car_id, collection: Car.all, selected: @calculator.car, label: 'Тип транспортного средства' %>
      <%= f.input :trailer, label: 'С прицепом' %>
      <%= f.input :car_horse_power_id,
                  collection: CarHorsePower.all,
                  selected: @calculator.car_horse_power,
                  label_method: :description,
                  label: 'Мощность двигателя автомобиля' %>
      <%= f.input :with_accidents, label: 'Имеются грубые нарушения условий страхования' %>

      <%= f.button :submit %>
    <% end %>
  </div>
  <div class="col-md-5">
    <h1>Рассчет завершен</h1>

    <b>Стоимость</b> составляет <b><%=@calculator.cost%></b> рублей.

  </div>
<div>
