<div class="row">
  <div class="col-md-7">
    <h1>ОСАГО</h1>

    <%= simple_form_for @calculator do |f| %>
      <%= f.input :city_id, collection: City.all, selected: @calculator.city %>
      <%= f.input :drivers_count, include_blank: false %>
      <%= f.input :driver_experience, include_blank: false %>
      <%= f.input :car_id, collection: Car.all, selected: @calculator.car %>
      <%= f.input :car_horse_power_id,
                  collection: CarHorsePower.all,
                  selected: @calculator.car_horse_power,
                  label_method: :description %>

      <%= f.button :submit %>
    <% end %>
  </div>
  <div class="col-md-5">
    <h1>Рассчет завершен</h1>

    <b>Стоимость</b> составляет <b><%=@calculator.cost%></b> рублей.

  </div>
<div>
